.bodyHome {
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000;
    padding-top: 25px;
}
.subtitle {
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
